NET "CLK50M" LOC = "T9" ;
NET "CLK50M" PERIOD = 20.0ns HIGH 50%;
NET "rstIN" LOC = "L14";

NET "TxD" LOC = "R13"; 
NET "RxD" LOC = "T13" ; 

NET "swi[0]" LOC = "F12";
NET "swi[1]" LOC = "G12";
NET "swi[2]" LOC = "H14";
NET "swi[3]" LOC = "H13";
NET "swi[4]" LOC = "J14";
NET "swi[5]" LOC = "J13";
NET "swi[6]" LOC = "K14";
NET "swi[7]" LOC = "K13";

NET "leds[0]" LOC = "K12";
NET "leds[1]" LOC = "P14";
NET "leds[2]" LOC = "L12";
NET "leds[3]" LOC = "N14";
NET "leds[4]" LOC = "P13";
NET "leds[5]" LOC = "N12";
NET "leds[6]" LOC = "P12";
NET "leds[7]" LOC = "P11";
